<meta charset="utf-8">

{% include seo.html %}

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 网站图标（Favicon）配置 -->
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <!-- 可选：添加多尺寸PNG图标以适配不同场景 -->
  <link rel="icon" type="image/png" sizes="16x16" href="/images/portrait0.png">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="assets/css/main.css">

<meta http-equiv="cleartype" content="on">
<head>
  <base target="_blank">
</head>
